<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>Sales Forecast Project</title>
</head>
<body class="bg-dark text-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Sales Forecasting Tool</h1>
        <p class="text-center mb-4">Gain insights into your sales trends by selecting a product category.</p>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ url_for('subcategory') }}" method="POST" class="shadow p-4 bg-info rounded">
                    <div class="form-group">
                        <label for="category" class="text-dark">Select a Category:</label>
                        <select name="category" id="category" class="form-control bg-light text-dark border-light">
                            {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">View Forecast</button>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h2>About the Sales Forecasting Tool</h2>
                <p>This tool provides users with valuable insights into future sales trends based on historical data. By selecting a product category, users can analyze expected sales figures, identify trends, and make informed decisions for inventory management and marketing strategies.</p>


 </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
