<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <title>Select Subcategory</title>
</head>
<body class="bg-dark text-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Select Subcategory</h1>
        <p class="text-center mb-4">Choose a subcategory from the dropdown below to proceed.</p>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ url_for('product_selection') }}" method="POST" class="shadow p-4 bg-info rounded">
                    <input type="hidden" name="category" value="{{ category }}">
                    <div class="form-group">
                        <label for="subcategory" class="text-dark">Subcategory:</label>
                        <select name="subcategory" id="subcategory" class="form-control bg-light text-dark border-light">
                            {% for subcategory in subcategories %}
                            <option value="{{ subcategory }}">{{ subcategory }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Next</button>
                </form>
            </div>
        </div>

        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
